<div class="home-header-image">
    <div class="container">
        <div class="row">
            <!-- row -->
            <div class="col-sm-12 logo-row">
                <!--div col sm 12 logo row -->
                <div class="col-lg-6">
                    <!--logo -->
                    <img class="img-responsive" src="assets/img/logo.png" alt="">
                 </div>
                <!--logo End-->
                <div class="col-lg-6">
                    <!-- login / Register Modal -->
                    <button class="home-button pull-right" ng-click="login.openLoginModal()">Login/Sign Up</button>

                    <button class="home-button pull-right" ng-click="login.openCreateNewStoryModal()">Create your Story!</button>
                </div>
                <!-- login / Register Modal -->
            </div>
            <!--div col sm 12 logo row -->
            <div class="col-lg-12 storythat-title">
                <!--tag line for the Site -->
                <h1>Journal your Stories in Life.</h1>
            </div>
        </div>
        <!-- row -->
    </div>
    <!--container-->
</div><!--home header image -->

<div class="home-top">
    <!--Home top -->
    <div class="container">
        <div class="home-calendar">
            <div class="landing-calendar">
                <div class="fake-underlay"></div>
                <h2 class="calendar-head">
                    <button class="calendar-nav pull-left"><i class="prev-month-arrow"></i></button>
                    <span>Jun 2016</span>
                    <button class="calendar-nav pull-right"><i class="next-month-arrow"></i></button>
                </h2>
                <div class="month-holder current-month">
                <div data-year="2016" data-month="May" class="calendar-table-wrap">
                    <table>
                        <thead>
                            <tr>
                                <th>S</th>
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>T</th>
                                <th>F</th>
                                <th>S</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="week">
                                <td class="last-month-day">28</td>
                                <td class="last-month-day">29</td>
                                <td class="last-month-day">30</td>
                                <td class="last-month-day">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td data-bg-img="home-main1" class="calendar-marked" data-container="body" data-toggle="popover" data-placement="top" data-content="Dad is coming back">9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td data-bg-img="home-main2" class="calendar-marked" data-container="body" data-toggle="popover" data-placement="top" data-content="Dad is coming back">12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td data-bg-img="home-main3" class="calendar-marked" data-container="body" data-toggle="popover" data-placement="top" data-content="Dad is coming back">21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div data-year="2016" data-month="Jun" class="calendar-table-wrap">
                    <table>
                        <thead>
                            <tr>
                                <th>S</th>
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>T</th>
                                <th>F</th>
                                <th>S</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="week">
                                <td class="last-month-day">28</td>
                                <td class="last-month-day">29</td>
                                <td class="last-month-day">30</td>
                                <td class="last-month-day">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td data-bg-img="home-main4" class="calendar-marked" data-container="body" data-toggle="popover" data-placement="top" data-content="Dad is coming back">9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td data-bg-img="home-main5" class="calendar-marked" data-container="body" data-toggle="popover" data-placement="top" data-content="Dad is coming back">12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td data-bg-img="home-main6" class="calendar-marked" data-container="body" data-toggle="popover" data-placement="top" data-content="Dad is coming back">21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div data-year="2016" data-month="July" class="calendar-table-wrap">
                    <table>
                        <thead>
                            <tr>
                                <th>S</th>
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>T</th>
                                <th>F</th>
                                <th>S</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="week">
                                <td class="last-month-day">28</td>
                                <td class="last-month-day">29</td>
                                <td class="last-month-day">30</td>
                                <td class="last-month-day">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td data-bg-img="home-main7" class="calendar-marked" data-container="body" data-toggle="popover" data-placement="top" data-content="Dad is coming back">9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td data-bg-img="home-main8" class="calendar-marked" data-container="body" data-toggle="popover" data-placement="top" data-content="Dad is coming back">12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td data-bg-img="home-main9" class="calendar-marked" data-container="body" data-toggle="popover" data-placement="top" data-content="Dad is coming back">21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <p class="home-text"> Browse your stories in a Calendar and search your stories easily based on your keyword.</p>
    </div>
</div><!--home top -->

<div class="home-color-2">
    <!--Video part and below -->
    <div class="container home-video">
        <img class="img-responsive img-home-video center-block" src="assets/img/video-home.png"="">
        <div class="home-widgets">
            <div class="col-sm-4">
                <div class="widget-home"><span class="home-icon3"></span></div>
                <p>Add stories from your past, present and you can even plan and visualise for your future!</p>
            </div>
            <div class="col-sm-4">
                <div class="widget-home"><span class="home-icon1"></span></div>
                <p>Every story you create is private by default unless you share or change it's visibility.</p>
            </div>
            <div class="col-sm-4">
                <div class="widget-home"><span class="home-icon2"></span></div>
                <p> Connect with others and share on StoryThat with many ways to manage your privacy.</p>
            </div>
        </div>
    </div>

    <div class="container create-story-container">
        <div class="col-sm-4">
            <div class="grey-line"></div>
        </div>
        <div class="col-sm-4 tac">
            <button class="create-story-button" data-toggle="modal" data-target="#create-new-story"> Create your Story! </button>
        </div>
        <div class="col-sm-4">
            <div class="grey-line"></div>
        </div>
    </div>
</div><!--home-color-2 -->
<!-- modals section -->
<!-- <modals></modals>   -->
<div ui-view="modals"></div>