/* Modals
----------------------------------------------------------------------------------------------------------------------*/
.modal-small .modal-dialog {
    width: 430px;
}
.modal-content{
    border: 1px solid #e1e1e1;
}
.modal .modal-header{
    background-color:#f3f3f3;
    padding: 20px 10px;
}
.modal .modal-header h4 {
    text-align:center;
    font-family: 'bree_ltlight';
    font-weight: normal;
    color:#4a4a49;
    font-size: 24px;
    margin: 0 auto;
}
.modal .modal-footer {
    background-color: #EFEFEF;
    border-top: 1px solid #EFEFEF;
}
.modal .modal-header button.close-icon{
    border-radius: 22px;
    border: none;
    position:absolute;
    top: -22px;
    right: -22px;
}
.modal > .modal-footer span{
    font-size: 20px;
    color: #4a4a49;
    line-height: 45px;
}

.login-body .login-input {
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    height: 45px;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: bree_ththin;
    color: #4a4a49;
}

.login-body button {
    margin-top: 30px;
    margin-bottom: 50px;
}

.save-btn{
    background-color: #ffffff;
    border:1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 3px 0 #bfbfbf;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: bold;
    color:#4a4a49;
}
.save-btn:hover{
    background-color: #47a5d7;
    border:1px solid #9ecde6;
    box-shadow: 0 3px 0 #1f719a;
    text-shadow: 2px 2px #3a8eb9;
    color: #ffffff;
}
.perm-blue{
    background-color: #47a5d7;
    border:1px solid #9ecde6;
    box-shadow: 0 4px 0 #1f719a;
    text-shadow: 2px 2px #3a8eb9;
    color: #ffffff;
}