<div class="modal-contacts" id="modal-add-contact" role="dialog" aria-hidden="true">
  <div class="modal-content" >
    <div class="modal-body">
      <div type="button" class="modal-close" data-dismiss="modal" ng-click="$ctrl.closeModal()" aria-hidden="true">×</div>
      This action will permanently delete this story.<br>
      Are you sure?
    </div>
    <div class="modal-footer">
      <button class="create-story-dropdown modal-button fl" type="button" ng-click="$ctrl.closeModal(true)" data-dismiss="modal">Sure</button>
      <button class="create-story-dropdown modal-button fr" type="button" ng-click="$ctrl.closeModal(false)" data-dismiss="modal">Cancel</button>
    </div>
  </div>

</div>
