@font-face {
  font-family: 'bree_ltlight';
  src: url('../fonts/breelight-webfont.eot');
  src: url('../fonts/breelight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/breelight-webfont.woff') format('woff'),
  url('../fonts/breelight-webfont.ttf') format('truetype'),
  url('../fonts/breelight-webfont.svg#bree_ltlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bree_rgregular';
  src: url('../fonts/breeregular-webfont.eot');
  src: url('../fonts/breeregular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/breeregular-webfont.woff') format('woff'),
  url('../fonts/breeregular-webfont.ttf') format('truetype'),
  url('../fonts/breeregular-webfont.svg#bree_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bree_ththin';
  src: url('../fonts/breethin-webfont.eot');
  src: url('../fonts/breethin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/breethin-webfont.woff') format('woff'),
  url('../fonts/breethin-webfont.ttf') format('truetype'),
  url('../fonts/breethin-webfont.svg#bree_ththin') format('svg');
  font-weight: normal;
  font-style: normal;
}