<div class="browse_by_calendar terms-page">

        <div class="row">
            <div class="col-md-12 calendar-breadcrumb">
                <i class="privacy-policy-header-icon"></i>
                <i class="mid-dots">· · ·</i>               
                <span class="page-header-title">Copyright Claimed Infringement Notice Procedure (DMCA Policy)</span>
            </div>
        </div>

    <div class="row sort-wrapper policy-docs">
        <div class="col-md-12">
            
            <br>  
            <p>If you believe that your work has been copied in a way that constitues copyright infringment, please send us an email as forth in our DMCA policy.</p><br>
            <ol>
                <li><span>1.</span><p>An owner of the copyright in a work or other subject-matter may send a notice of claimed infringement to StoryThat by emailing a Notice of Claimed Infringement to <a href="mailto:copyright@storythat.com">copyright@storythat.com</a> .</p></li>
                <li><span>2.</span><p>A Notice of Claimed Infringement shall:</p>
                <ol>
                <li><span>(a)</span><p>state the claimant’s name, contact information and the authority the sender may have for communicating with StoryThat on behalf of the claimant;</p></li>
                <li><span>(b)</span><p>identify the work or other subject-matter to which the claimed infringement relates;</p></li>
                <li><span>(c)</span><p>state the claimant’s interest or right with respect to the copyright in the work or other subject-matter;</p></li>
                <li><span>(d)</span><p>specify the location data for the electronic location to which the claimed infringement relates;</p></li>
                <li><span>(e)</span><p>specify the infringement that is claimed;</p></li>
                <li><span>(f)</span><p>specify the date and time of the commission of the claimed infringement; and</p></li>
                <li><span>(g)</span><p>any other information that may be required by StoryThat and law.</p></li>
                </ol>
                </li>
            </ol>
            <ol><br>
                <li><span>3.</span><p>Upon receipt of a Notice of Claimed Infringement, StoryThat shall, upon being paid any reasonable fee requested from the claimant,</p>
                   <ol>
                    <li><span>(a)</span><p>without delay forward the notice electronically to the person who uploaded the content at the electronic location identified by the location data specified in the Notice and inform the claimant of its forwarding or, if applicable, of the reason why it was not possible to forward it;</p></li>
                    <li><span>(b)</span><p>retain records that will allow the identity of the person who uploaded the content at the electronic location, and do so for six months beginning on the day on which the Notice of Claimed Infringement is received or, if the claimant commences proceedings relating to the claimed infringement and so notifies the person before the end of those six months, for one year after the day on which the person receives the notice of claimed infringement.</p></li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
                    </div>