<div class="browse_by_calendar terms-page">

        <div class="row">
            <div class="col-md-12 calendar-breadcrumb">
                <i class="privacy-policy-header-icon"></i>       
                <span class="page-header-title">Privacy Policy</span>
                <hr class="dashed-line">
            </div>
        </div>

    <div class="row sort-wrapper policy-docs">
       <div class="col-md-12">
        <h4>Introduction</h4>
        <p>StoryThat respects your privacy and is committed to protecting the personal information you share with us. StoryThat has established this Privacy Policy so that you can understand the care with which we intend to treat such information.</p>
        <p>StoryThat carries on business in Canada in compliance with the Personal Information Protection and Electronic Documents Act which governs the collection, use and disclosure of personal information.</p><br>
           
        <h4>Purposes of Collecting Information</h4>
        <p>StoryThat's goal in collecting, using and disclosing personal information is to enhance your product and service experience with us. That may include the following purposes:</p>
        <ul>
            <li><p>Providing you with general marketing product, services and business partner information and offers;</p></li>
            <li><p>establishing and maintaining commercial relationships with partners, customers,suppliers and other third parties, including to issue invoices, administer accounts, collect and process payments, and to fulfill contractual obligations;</p></li>
            <li><p>conducting market analysis and research;</p></li>
            <li><p>meeting safety, security, legal and regulatory requirements;</p></li>
            <li><p>detecting and protecting StoryThat and other parties against error, negligence, breach of contract, fraud, theft and other illegal activity, and to audit compliance with the StoryThat’s policies and contractual obligations;</p></li>
            <li><p>maintaining the accuracy of our records to respond to your inquiries and provide you with customer service communications and otherwise manage our relationship with you;</p></li>
            <li><p>satisfying other reasonable, legitimate business interests (such as collecting outstanding debts); and</p></li>
            <li><p>for any other purpose to which you consent.</p><br></li>
        </ul>
           
        <h4>Consent</h4>
        <p>BY USING STORYTHAT’S SERVICES OR SUBMITTING PERSONAL INFORMATION TO STORYTHAT OR ITS SERVICE PROVIDERS OR AGENTS, YOU AGREE THAT WE MAY COLLECT, USE AND DISCLOSE SUCH PERSONAL INFORMATION <strong> IN ACCORDANCE WITH THIS PRIVACY POLICY </strong>, STORYTHAT’S TERMS OF SERVICE AND AS PERMITTED OR REQUIRED BY LAW.</p>
        <p>You also consent to StoryThat having the right to collect, use and disclose any information acquired, whether through this Website or use of StoryThat’s services, <string> which is not in a personally identifiable form</string>, including aggregated information.</p>
        <p>Subject to legal and contractual requirements, you may refuse or withdraw your consent to certain of the identified purposes at any time by contacting StoryThat. If you refuse or withdraw your consent, we may not be able to provide or continue to provide you with certain services or information which may be of value to you. If you provide StoryThat or 
        our service providers or agents with personal information of another individual, you represent that you have all necessary authority to do so and/or have obtained all necessary consents from such person to enable us to collect, use and disclose such personal information in accordance with StoryThat practices.</p><br>
           
        <h4>Disclosure of Personal Information</h4>
        <p>If you provide us with personal information, we may from time to time disclose or transfer that information across borders and from your country or jurisdiction either within StoryThat (including its subsidiaries and related companies) or to others including the following:</p>
        <ul>
            <li><p>service providers, including an organization or individual retained by StoryThat to perform functions on its behalf, such as marketing, research, data processing, technical support, fulfillment and delivery services;</p></li>
            <li><p>an organization or individual retained by StoryThat to evaluate your creditworthiness or to collect debts outstanding on an account;</p></li>
            <li><p>a person who, in the reasonable judgment of StoryThat, is providing or seeking the information as your agent;</p></li>
            <li><p>third parties in connection with the sale, assignment, or other transfer of StoryThat's business to which the information relates;</p></li>
            <li><p>any third party if, in StoryThat's judgment, the rights or property of StoryThat, its affiliates, third party service providers, or the users of StoryThat’s facilities and/or services are in jeopardy;</p></li>
            <li><p>any third party if, in StoryThat's judgment, the personal safety of users of the StoryThat's services or facilities or other members of the public are in jeopardy;</p></li>
            <li><p>any third party, where you consent to such disclosure or where disclosure is required or permitted by law or court order.</p></li>
        </ul>
        <p>StoryThat may also disclose aggregated information that does not allow you to be personally identified to third parties.</p>
        <p>You agree that in certain circumstances personal information may be collected, used, or disclosed without your knowledge and/or consent. Examples of such circumstances include: a) legal, medical, or security reasons; b) detection and prevention of fraud or for law enforcement; and c) journalistic, artistic or literary purposes if its use is confined to those purposes.</p>
        <p>You also agree that if the ownership of all or substantially all of StoryThat's business or individual business units owned by StoryThat were to change, your user information may be transferred to the new owner so our service can continue operations. In any such transfer of information, your user information would remain subject to the promises made in any preexisting Privacy Policy.</p><br>
           
        <h4>Security</h4>
        <p>StoryThat is committed to protecting your personal information in compliance with this Privacy Policy and applicable laws. Your personal information may be stored and/or processed or otherwise used by or on behalf of StoryThat both inside and outside of Canada (e.g., at secured locations with our service providers). To help protect the confidentiality of your personal information, StoryThat employs administrative and technical security measures appropriate to the sensitivity of your personal information. For example, we operate secure data networks protected by industry standard firewall and encryption systems.</p>
        <p>In terms of communicating personal information, there is no method of transmitting or storing data that is completely secure. While the physical characteristics of each are different, mail, telephone calls, faxes and transmissions over the Internet are all susceptible to possible loss, misrouting, interception and misuse of the information being communicated or transmitted. Moreover, where you use passwords, ID numbers or other special access features on our Web sites or in connection with StoryThat’s services, it is your responsibility to safeguard them.</p><br>
           
        <h4>Contacting Us</h4>
        <p>StoryThat is committed to continuous improvement and values your input. If you have any questions, comments or concerns about this Privacy Policy, or wish to update or correct or limit the use of any of your personal information that we may have, you may contact StoryThat at:</p>
        <p>StoryThat Inc.<br>
           The Privacy Officer<br>
           167 Mahogany Grove, SE<br>
           Calgary, AB<br>
           T3M 1W8, Canada,<br></p>
           <p>Email: <strong><a href="mailto:privacy@storythat.com">privacy@storythat.com</a></strong></p><br>
           
        <h4>Privacy Policy Modifications</h4>
        <p>StoryThat reserves the right to modify this Privacy Policy at any time and at its sole discretion.  It is the responsibility of the User to ensure that it has a current understanding of this Privacy Policy.</p>
        </div>
    </div>
    <div class="clearfix"></div>
                    </div>