<div class="browse_by_calendar">
                        <div class="row single-story-page">
                            <div class="single-st-heading row">
                                <div class="story-info-container">
                                    
                                    <span class="page-header-title"> This is the title of Single Story</span>

                                </div>
                                <div class="starred-times pull-right">
                                    <span class="stars-single-story"></span>
                                    <span class="star-numb">25 Stars</span>
                                </div>
                            </div>

                            <div class="single-st-content">
                               <p class="single-st-header">
                                  <span><img src="assets/icons/single-note-clock.png" alt="clock"></span> 
                                  Friday, 22 Apr 2016 at 1:11 AM 
                                  <span class="s-note-clock"><img src="assets/icons/single-note-loc.png" alt="clock"></span>
                                  Calgary
                                  <span data-toggle="tooltip" data-placement="bottom" data-animation="false" title="Add Pictures / Videos to this story" data-original-title="Add Pictures / Videos to this story" class="pull-right st-cam"><i class="fa fa-picture-o" aria-hidden="true"></i></span> 
                               </p>
                               <p class="st-text-first">
                                T his is a single story page, reached upon clicking the story title.  If there are pictures and videos added to the story then these should show on top. If there are no videos or pictures aded to the story then the box above should not show. </p>

                                <p>If there are pictures and videos then these can be viewed by <br>
                                1. Hovering over the image to see the navigation arrows and navigate through the pictures and videos<br>
                                2. By clicking on "View all photos/videos" user will be able to see the thumbnails of the pictures and videos.</p>
                                <div class="action-buttons">
                                    <a class="btn-story-that-light st-share" data-toggle="modal" data-target="#share-story" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</a>
                                    <a data-target="#add-note-1" data-toggle="modal" class="btn-story-that-light st-add-note" href="#"><i class="fa fa-quote-left" aria-hidden="true"></i> Add Note</a>
                                    <a class="btn-story-that-light st-edit" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                    <a class="btn-story-that-light st-delete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                </div>
                            </div>
                            <div class="st-notes my-notes-page">
                                
                                <span class="page-header-title"><i class="fa fa-comment-o marg-left" aria-hidden="true"></i> Notes</span>
                                    <div id="single-story-no-media-note-1" class="note">
                                    <div class="note-head">
                                       <div class="note-title-head fl">
                                            <a href="#" class="note-title">Only one line in a note.</a>
                                           <a href="#"><span class="shared-note">Shared Note  </span></a>
                                       </div>
                                        <div class="note-meta fr">
                                            <button class="toggle-note fr"><i class="notes-arrow-collapse"></i></button>
                                            <div class="note-info fr">
                                                <a href="#">Username </a>
                                                <div class="date-info">Monday, 24 April 1: 35 PM</div>
                                            </div>
                                            <img class="fr my-notes-avatar" src="assets/img/my-notes-girl2.png">
                                        </div>
                                    </div>

                                    <div class="row note-body">

                                        <div class="note-footer">
                                            <div class="note-actions fl">
                                                <a class="btn-story-that-light" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                <a class="btn-story-that-light" href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> Reply</a>
                                            </div>                        
                                            <!-- note action -->
                                            <div class="comments-likes fr">
                                                <p><span class="comment-num">0 <i class="fa fa-comment-o" aria-hidden="true"></i></span> <span class="like-number">50 <i></i></span></p>
                                            </div>
                                        </div>
                                        <!-- note footer -->
                                    </div>

                                </div>
                                    <!-- note -->
                                    <div id="single-story-no-media-note-2" class="note">
                                        <div class="note-head">
                                           <div class="note-title-head fl">
                                                <a href="#" class="note-title">Great travel quote.</a>
                                               <a href="#"><span class="shared-note">Private Note</span> </a>
                                           </div>
                                            <div class="note-meta fr">
                                                <button class="toggle-note fr"><i class="notes-arrow-collapse"></i></button>
                                                <div class="note-info fr">
                                                    <a href="#">Username </a>
                                                    <div class="date-info">Tuesday, 23 April 1: 35 PM</div>
                                                </div>
                                                <img class="fr my-notes-avatar" src="assets/img/my-notes-girl1.png">
                                            </div>
                                        </div>

                                        <div class="row note-body">

                                            <div class="col-xs-8">
                                                    <p class="note-content">
                                                    To move, to breathe, to fly, to float,<br>
                                                    To gain all while you give,<br>
                                                    To roam the roads of lands remote,<br>
                                                    To travel is to live.</p>

                                                    <p>Hans Christian Andersen</p>
                                            </div>
                                            <div class="col-xs-4 note-media video">
                                                <video poster="assets/img/journal-story-img-3.jpg" src=""></video>
                                            </div>
                                            <div class="note-footer">
                                                <div class="note-actions fl">
                                                    <a class="btn-story-that-light" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                                    <a class="btn-story-that-light" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                    <a class="btn-story-that-light" href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> Reply</a>
                                                </div>                        
                                                <!-- note action -->
                                                <div class="comments-likes fr">
                                                    <p><span class="comment-num">0 <i class="fa fa-comment-o" aria-hidden="true"></i></span> <span class="like-number">50 <i></i></span></p>
                                                </div>
                                            </div>
                                            <!-- note footer -->
                                        </div>

                                    </div>
                                    <!-- note -->
                                    <div single-story-no-media-note-3 class="note mt-st-large user-note">
                                        <div class="note-head">
                                            <span class="users-title">
                                                8 Users added this story to Journal
                                            </span>
                                            
                                            <button class="toggle-note fr"><i class="notes-arrow-collapse"></i></button>
                                            
                                        </div>

                                        <div class="row note-body">
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-1.png" alt="avatar">
                                                <span class="users-nick">Jessica</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-2.png" alt="avatar">  
                                                <span class="users-nick">Dragan</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-3.png" alt="avatar">
                                                <span class="users-nick">Vakno</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-1.png" alt="avatar">
                                                <span class="users-nick">username1</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-7.png" alt="avatar">
                                                <span class="users-nick">username2</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-5.png" alt="avatar">
                                                <span class="users-nick">Zezovnik</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-6.png" alt="avatar"> 
                                                <span class="users-nick">Sardone</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-7.png" alt="avatar">
                                                <span class="users-nick">Viropiti</span>
                                            </div>                                                                                     
                                        </div>

                                    </div>
                                    <!-- note -->
                                    <div class="note user-note">
                                        <div class="note-head">
                                            <span class="users-title">
                                                25 Users added this story to favorites
                                            </span>
                                            
                                            <button class="toggle-note fr"><i class="notes-arrow-collapse"></i></button>
                                            
                                        </div>

                                        <div class="row note-body">
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-1.png" alt="avatar">
                                                <span class="users-nick">Jessica</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-2.png" alt="avatar">  
                                                <span class="users-nick">Dragan</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-3.png" alt="avatar">
                                                <span class="users-nick">Vakno</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="assets/img/st-note-av-6.png" alt="avatar"> 
                                                <span class="users-nick">Sardone</span>
                                            </div>
                                                                  
                                        </div>

                                    </div>
                                    <!-- note -->                                                                        
                            </div>
                        </div>
                    </div>